.swal-title-custom {
    font-size: 1.125rem;
  }
  
  .swal-popup-custom {
    height: 13.75rem;
    border-radius: 0.625rem;
    width: 90%;
    max-width: 21.875rem;
  }
  
  .swal-confirm-button {
    font-size: 1rem;
    padding: 0.375rem 6.875rem;
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  
  .swal-icon-custom {
    font-size: 0.76rem !important;
    width: 3.75rem !important;
    height: 3.75rem !important;
  }
  